body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculadora{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 17%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 25%);
    color: white;
}

#teclas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

/* Aclara el color de los botones y hacer fuente bold al pasar el cursor por encima */
button:hover{
    background-color: hsl(0, 0%, 40%);
    font-weight: bold;
}

/* Aclara el color de los botones al hacer click */
button:active{
    background-color: hsl(0, 0%, 50%);
}

/* Aclara el color de los botones de operador al pasar por encima y hacer click */
.operator-btn{
    background-color: hsl(208, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(208, 100%, 65%);
}

.operator-btn:active{
    background-color: hsl(208, 100%, 75%);
}